/*archivo CSS para la pagina del proyecto final*/

* {
	box-sizing: border-box;
	max-width: 100%;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

.row {
	margin: 0px!important;
}

.animate_animated.animate_heartBeat{
	--animate-duration: 2s;
}

li {
	display: inline;
	list-style: none;
	color: rgb(240, 246, 243);
	font-size: 30px;
	padding: 10px;
	margin: 10px;
}

a {
	text-decoration: none;
}

.header {
	height: 220px;
	width: 100%;
}

.header-container {
	min-height: 200px;
}

.logo-container {
    top: 0px;
    left: 0px;
    padding: 0px!important;
	position: absolute;
}

main {
	min-height: fit-content;
	padding: 100px 0px;
}

.bgColor {
	background-color: rgb(241, 141, 10);
	border: solid 2px;
}

.textDecorationnav {
	text-decoration-color: rgb(239, 245, 240);
}

.bgColorNav {
	background-color: rgb(184, 220, 85);
	border: solid 2px;
}

.bgColorMenu{
	background-color: #06825f;
	border: solid 2px;
}

.h1FontSize{
	font-size: 60px;
}

.maxWidth-fit {
	max-width: fit-content!important;
}

header h1{
	color: azure;
	-webkit-text-stroke: 1.5px;
	-webkit-text-stroke-color: black;
	-webkit-text-fill-color: #e9f50870;
}

/*GRID COMMANDS & FLEX*/

.gridIndex{
	display: grid;
	grid-template-areas:
	"header header header header"
	"main main main main"
	"footer footer footer footer";
	height: 100vh;
}

header{grid-area: header;}


footer{grid-area: footer;}

.absolute{position: absolute;}

.header{
	display: flex;
justify-content: center;
align-content: center;
position: relative;
background-color: #06825f
}

.header img{
	position: absolute;
	top: 0;
	left: 0;
}

.pizza-images {
	gap: 30px;
	padding: 20px 0px;
}

.pizza-images img {
	max-width: 600px;
	margin: auto;
	padding: 0px;

}

 footer{
	position: relative;
	min-height: 200px;
}

.footerIcons{
	display: flex;
}

.footerLogo {
	position: relative;
	top: 0px;
	left: 0px;
}

.border{
	border: 5px solid black
}

nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav a, footer a{
	color: black;
}

.logoFooterIzq{
	top: 0;
	left: 0;
	padding: 0px!important
}

.alignCenter{
	display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.marginTop{
	margin-top: 40px;
}

.flexWrap{
	display: flex;
	flex-wrap: wrap;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 880px){
	.header-container {
		flex-direction: column;
	}

	.logo-container {
		display: flex;
		position: relative!important;
		justify-content: center;
		align-items: center;
		margin-top: 10px!important;
	}

}

@media only screen and (max-width: 768px){
	main{
		display: flex;
		flex-direction: column;
		justify-content: center;
	    align-items: center;
	}

	.gridMain{
		display: flex;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 100% 50% 50%;
		grid-template-areas: 
		"menu"
		"margarita"
		"quesos"
		"carne"
		"pepperoni";
	}

	.header .logo{
		position: relative;
	}
	.header{
		height: auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.header img{
		height: 100px;
		width: 100px;
		align-items: center;
	}
	.header h1{
		font-size: 40px;
	}
	.logoFooterIzq{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px 0px;
		padding: 0px 12px!important;
	}
	footer{
		padding: 20px 0px;
	}
	footer div:nth-of-type(2){
		display: flex;
	}

	.footerIcons{
		display: flex!important;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	footer h2{
		font-size: 20px;
	}

	nav ul li{
		display: flex;
		flex-direction: column;
		justify-content:center ;
		align-items: center;
		font-size: 20px;
		row-gap: 3px;
	}

	}


	@media only screen and (max-width: 400px){ 
		.footerIcons {
			flex-direction: column;
		}
	}