  
    .bgColorNav {
        background-color: rgb(184, 220, 85);
        border: solid 2px;
    }
    
    .bgColorPrimario {
        background-color: rgb(241, 141, 10);
        border: solid 2px;
    }

    .bgColorMenu{
        background-color: #06825f;
        border: solid 2px;
    }