footer{
    position: relative;
    min-height: 200px;
    background-color: $bgPrimario;
    border: solid black 2px;

    .footerIcons{
        display: flex;
        text-decoration: none;
        margin: auto !important;
    }
    .footerLogo {
        position: relative;
        top: 0px;
        left: 0px;
    }
    .alignCenterFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    a{
        text-decoration: none;
    }
    .logoFooterIzq{
        max-width: fit-content;
        width: fit-content;
    }
}