// Variables

$myColor: rgb(28, 116, 224);
$bgColorNav: rgb(184, 220, 85);
$bgPrimario: rgb(241, 141, 10);

// Mixings

@mixin centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

// SASS code

header{
    background-color: $myColor;
    border: solid black 2px;
        img{
                top: 0px;
                left: 0px;
                padding: 0px!important;
                position: absolute;
            }
        h1{
            color: azure;
            -webkit-text-stroke: 1.5px;
            -webkit-text-stroke-color: black;
            -webkit-text-fill-color: #e9f50870;
            font-size: 70px;
            text-shadow: #e9f50870;
            font-weight: bolder;
        }
        li {
            display: inline;  
            list-style: none;
            text-decoration: none;
            color: rgb(240, 246, 243);
            font-size: 30px;
            padding: 10px;
            margin: 10px;
        }
        a {
            text-decoration: none;
        }
    }

    .header {
        height: 220px;
        width: 100%;
    }
    
    .header-container {
        min-height: 200px;
    }
    
    .logo-container {
        top: 0px;
        left: 0px;
        padding: 0px!important;
        position: absolute;
    }
    
    .navFlex{
        @include centerContainer;
        flex-direction: column;
        
    }

    .textDecorationnav {
        text-decoration-color: rgb(239, 245, 240);
    }

    * {
        box-sizing: border-box;
        max-width: 100%;
    }
    
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .row {
        margin: 0px!important;
    }

    main {
        min-height: fit-content;
        padding: 100px 0px;
        background-color: $bgPrimario;
        border: solid black 2px;
    }

    .myCarousel{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .mainQuienessomos{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .h1FontSize{
        font-size: 60px;
    }
    
    .maxWidth-fit {
        max-width: fit-content!important;
    }

    footer{
        position: relative;
	    min-height: 200px;
        background-color: $bgPrimario;
        border: solid black 2px;

        .footerIcons{
            display: flex;
            text-decoration: none;
            margin: auto !important;
            align-items: center;
        }
        .footerLogo {
            position: relative;
            top: 0px;
            left: 0px;
        }
        .alignCenterFooter{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        a{
            text-decoration: none;
        }
        .logoFooterIzq{
            max-width: fit-content;
            width: fit-content;
        }
    }

    // Media Queries

    @media only screen and (max-width: 880px){
        .header-container {
            flex-direction: column;
        }
    
        .logo-container {
            display: flex;
            position: relative!important;
            justify-content: center;
            align-items: center;
            margin-top: 10px!important;
        }
        
    
    }
    
    @media only screen and (max-width: 768px){
        main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        
        .header{
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .logo{
                position: relative;
                height: 100px;
                width: 100px;
                align-items: center;
            }
            h1{
                font-size: 40px;
            }
        }

        
        footer{
            padding: 20px 0px;
            .logoFooterIzq{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto !important;
                padding: 10px 12px!important;
            }
            .footerIcons{
                display: flex!important;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            div:nth-of-type(2){
                display: flex;
            }
            h2{
                font-size: 20px;
            }
        }
        

        nav ul li{
            display: flex;
            flex-direction: column;
            justify-content:center ;
            align-items: center;
            font-size: 20px;
            row-gap: 3px;
        }
    
        }
    
    
        @media only screen and (max-width: 400px){ 
            .footerIcons {
                flex-direction: row;
            }
        }